-Post.all.reverse.each do |post| 
	.container
		.date= post.created_at.strftime("%b %e, %Y %H:%M:%S")
		.author= post.author

		.body= "“#{post.content}”"
		
		-if !post.responses.empty?
			%hr.divider
			-post.responses.each do |response| 
				.response
					.author= response.author

					.body= "“#{response.content}”"